div#warp, div.latest_post, header#header, nav#menu,
section#container, div.content,div.post,
footer { 
    padding:10px; 
}
a{
    color:black;
    text-decoration:none;
}
div#wrap { 
    width: 900px;
    height: auto;
    margin: 0 auto;
    border: 5px solid maroon;
}
div.post{
    width: 850px;
    height: 150px;
    border: 5px solid red;
}
div.post a{
    display:block;
    color:red;
    width:800px;
    height: 80px;
    padding: 30px 15px 30px;
    border: 5px solid grey;
}
header#header { 
    background:#eee;
    border-bottom: 3px solid grey;
    width:auto;
    box-shadow:5px 5px 20px grey;
}
nav#menu{
    border: 5px solid skyblue;
}
nav#menu ul{
    margin:0;
    padding:0;
    list-style:none;
}
nav#menu ul li { 
    background:#eee;
    padding:10px;
    //display:inline-block;
}
section#container {
    height: auto;
}
div.content { 
    border: 5px solid purple;
    height: auto;
}
footer#footer {  
    border: 5px solid olive;
    width: 870px;
    right: 0;
    left: 0;
    position: relative;
}
