div#warp, div.latest_post, header#header, nav#menu,
section#container, div.content,div.post,
footer {
    padding: 10px; 
}
a{
    color: black;
    text-decoration: none;
}
article{
    font-size: 18px;
}
html body{
    margin: 0;
}
div#wrap {
    width: 90%;
    height: auto;
    margin: 0 auto;
}
div.post{
    margin: 0 auto;
    width: 85%;
    height: 250px;
    border: 5px solid red;
}
div.post a{
    display: block;
    height: 210px;
    padding: 10px;
    border: 5px solid grey;
}
div.post a .thum{
    float: right;
    width: 140px;
    height: 190px;
    color: red;
    object-fit: cover;
    overflow: hidden;
}
div.post a .thum img{
    max-width: 100%;
    height: auto;
    display: block;
}
div.post a .title{
    font-size: 30px;
    display: block;
    width: 340px;
    border-bottom: 2px solid #c8c8c8;
    font-weight: 800;
    text-overflow: ellipsis;
}
div.post a .date{
    font-size: 15px;
    display: block;
    border-bottom: 2px solid #c8c8c8;
    font-weight: 800;
    overflow: hidden;
}
div.post a .excerpt{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    width: 100%;
    height: 130px;
}
header#header {
    border-bottom: 3px solid grey;
    margin-bottom: 10px;
    width: auto;
    box-shadow: 5px 5px 20px grey;
    text-align: center;
}
nav#menu{
}
nav#menu ul{
    font-size: 30px;
    margin: 0;
    padding: 0;
    border-top: 2px solid #c8c8c8;
    border-bottom: 2px solid #c8c8c8;
    list-style: none;
}
nav#menu ul li {
    font-size: 20px;
    padding: 10px;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 10px;
    border-top: 2px solid #c8c8c8;
    //display: inline-block;
}
section#container {
    height: auto;
}
div.content {
  max-width: 1600px;
  margin: 0 auto;
  border-top: 2px solid #c8c8c8;
  border-bottom: 2px solid #c8c8c8;
  height: auto;
  padding: 10px;
}
footer#footer{
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 2px solid #c8c8c8;
    font-weight: 500;
    color: #969696;
    text-align: center;
    position: relative;
}
div.c_header{
  display: inline;
  margin-bottom: 100px;
}
div.s_header{
   display: block;
   font-size: 35px;
   height: 50px;
   font-weight: 800;
   border-left: 10px solid #c8c8c8;
   border-bottom: 1px solid #c8c8c8;
   margin-top: 20px;
   margin-bottom: 20px;
}
h.title{
  font-size: 30px;
  display: block;
  border-bottom: 2px solid #c8c8c8;
  font-weight: 800;
}
span.date{
  color: #c8c8c8;
  border-bottom: 2px solid #c8c8c8;
  display: block;
  margin-bottom: 20px;
}
div.button_list{
  margin: 0 auto;
  width: 360px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
}
div.post_button{
    float: left;
    width: 20px;
    height: 20px;
    margin: 10px;
    padding: 0px;
    background-color: rgba(0,0,0,0);
    text-align: center;
    display: inline-block;
}
div.post_button:hover{
  cursor: pointer;
  color: red;
}
div.empty_button{
    float: left;
    width: 20px;
    height: 20px;
    margin: 10px;
    padding: 0px;
    background-color: rbga(0, 0, 0, 0);
    text-align: center;
    display: inline-block;
}
